<div class="contain-to-grid sticky">
    <nav class="top-bar">
    <ul class="title-area">
        <li class="name">
        <h1><a href="#">Doucherism</a></h1>
        </li>
    </ul>
    <section class="top-bar-section">
    <ul class="left">
        <li class="divider"></li>
        <li class="active"><a href="#">Douchness</a></li>
        </li>
        <li class="divider"></li>
        <li><a href="#">Uberdouchness</a></li>
        <li class="divider"></li>
        <li><a href="#">Ultimate douchness</a></li>
    </ul>
    </section>
    </nav>
</div>
